h1,h2,#meetingdate {text-align: center;}
ul {list-style-type: none;
  padding-left: 0}
  /* TODO Use a variable for margin and colors*/
  section {margin:0 10% 0 10%}
  .speeches, .announcements, .wod, .tabletopics {background-color: #fbf5e6;}
  .bold {font-weight: bold;}
  li{margin-bottom:10px}
  .speechtitle {text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0;}
  .speechpurpose{text-decoration: underline;}
